
.DS_Store
EggTimer/.DS_Store
*.xcuserstate
Dicee-iOS13/.DS_Store
*.DS_Store
I am Rich/.DS_Store
Magic-8-Ball-iOS13/.DS_Store
EggTimer/.DS_Store
Quizzler-iOS13-master/.DS_Store
*.xcuserstate
*.pbxuser
*.perspective
*.perspectivev3